<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mimic Farm - A Virtual Pet Site</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
                <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    @{
    DateTime now = DateTime.Now;
    long currentHour = long.Parse(now.ToString("HH"));
    string time = "day.png";

 @if(currentHour <= 6 || currentHour >= 20){
        time = "night.png";
        <style>
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: #3867e1;
            }

            a{
                color: #3867e1;
            }
            a:hover{
                color: #2749a2;
            }
        </style>
    }
    else if(currentHour > 6 && currentHour <= 9){
        time = "dawn.png";
        <style>
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: #bab3dc;
            }
            a{
                color: #7063ae;
            }
            a:hover{
                color: #bab3dc;
            }
        </style>
    }
    else if(currentHour >= 9 && currentHour < 17){
        time = "day.png";
    }
    else if (currentHour >= 17 && currentHour <= 20){
        time = "evening.png";
        <style>
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: #FBA44C;
            }

            a{
                color: #EF7F39;
            }
            a:hover{
                color: #FBA44C;
            }
        </style>
    }
   
}

    <style>

        .mimic-containment{
            width: 250px;
            height: 250px;
            background-image: url('http://localhost:5000/images/layout/times/@time');
            background-size: cover;
            border-radius: 10px;
        }

        .mimic-containment-page{
            width: 400px;
            height: 400px;
            background-image: url('http://localhost:5000/images/layout/times/@time');
            background-size: cover;
            border-radius: 10px;
        }

        .mimic-containment-profile{
            width: 150px;
            height: 150px;
            background-image: url('http://localhost:5000/images/layout/times/@time');
            background-size: cover;
            border-radius: 10px;
        }

        body{
            background-image: url('http://localhost:5000/images/layout/times/@time');
        }
    
    </style>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="container">
        <center><img src="~/images/layout/logo.png" width="600px" style="margin-top: -25px;"></center>

        <div class="navbar">
            <a href="/dashboard">Home</a>
            <a href="/news">News</a>
            <a href="/adopt">Adopt</a>
            <a href="/dashboard">Mimics</a>
            <a href="/inventory">Inventory</a>
            <a href="/adventure">Adventure</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Log Out</a>
        </div>

        <br>

                
        <div class="container body-content" style="width: 100%">
            @RenderBody()
        </div>

    </div>

                <footer>
                <center><p>&copy; 2018 - Mimic Farm</p></center>
            </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
