@model DefaultProject.Models.Mimic

<h2>Adopt a Mimic!</h2>

<p></p>

<form asp-action="createMimic" asp-controller="Home" method="POST">

    <h3>Name Your Mimic</h3>

    <p>Name: <br> <input asp-for="name" name="name" pattern=".{2,}" required title="2 characters minimum!"></p>
    <span asp-validation-for="name" style="color: red;"></span>

    <h3>Select a Species</h3>

    <div id="species">
    <input type="radio" name="species" id="puppy"  value="puppy"/>
        <label for="puppy"><img src="~/images/mimics/adopt/puppy_egg.png" width="150px"/></label>

    <input type="radio" name="species" id="cyclops"  value="cyclops"/>
        <label for="cyclops"><img src="~/images/mimics/adopt/cyclops_egg.png" width="150px"/></label>

    @if(@ViewBag.currentUser.specialEgg >=1){

        <h4>Special Egg Ticket Options</h4>
        
    <input type="radio" name="species" id="spike" value="spike" />
        <label for="spike"><img src="~/images/mimics/adopt/spike_egg.png" width="150px"/></label>
    }

     </div>

    <script>
        $(document).ready(function(){
            $('#species input:radio').addClass('input_hidden');
            $('#species label').click(function(){
            $(this).addClass('selected').siblings().removeClass('selected');
            });
        });
    </script>

    <br>

    <input type="submit" value="Adopt" class="btn btn-success">

</form>

<br>

<a href="/dashboard" class="btn btn-danger">Go Back</a>

