@using DefaultProject.Models


<h3>Welcome, @ViewBag.currentUser.username!</h3>

<hr>



<h2>Your Mimics</h2>

<div class="statbox">
    <br>
    <center><h4>Name</h4>
    <p>Level: 1 | HP: 10/10 | Hunger: 8/10</p>
    </center>

<div class="mimic-containment">
    <div class="mimic">
        <img src="~/images/mimics/puppy/copper_adult.png">
    </div>
</div>

</div>

<div class="statbox">
    <br>
    <center><h4>Name</h4>
    <p>Level: 1 | HP: 10/10 | Hunger: 8/10</p>
    </center>

<div class="mimic-containment">
    <div class="mimic">
        <img src="~/images/mimics/cyclops/steel_youth.png">
    </div>
</div>

</div>

<div class="statbox">
    <br>
    <center><h4>Name</h4>
    <p>Level: 1 | HP: 10/10 | Hunger: 8/10</p>
    </center>

<div class="mimic-containment">
    <div class="mimic">
        <img src="~/images/mimics/puppy/gold_egg.png">
    </div>
</div>

