@using DefaultProject.Models

<h2>News Feed</h2>

<br>

<table class="table">


    <tr>
        <td style="vertical-align: middle;">7/26/2018</td>
        <td style="vertical-align: middle;">Added a new species of mimic: the spike mimic! These guys are really pointy!</td>
    </tr>

    <tr>
        <td style="vertical-align: middle;">7/25/2018</td>
        <td style="vertical-align: middle;">Added two new basic colors for cyclops mimics! When you adopt, you can now get a manganese or bronze cyclops.</td>
    </tr>


</table>