body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/layout/day.png');
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.548);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: #000 !important;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #635344;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #635344;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #B6D680;
    color: #000 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.statbox{
    width: 250px;
    display: inline-block;
    margin: 0px 12px;
}

.statbox-profile{
    width: 150px;
    display: inline-block;
    margin: 0px 12px;
}

.mimic{
    width: 250px;
    height: 250px;
}

.mimic-page{
    width: 400px;
    height: 400px;
}

.mimic-page img{
    width: 400px;
    height: 400px;
}

.mimic-profile{
    width: 150px;
    height: 150px;
}

.mimic-profile img{
    width: 150px;
    height: 150px;
}

.mimic img{
    width: 250px;
    height: 250px;
}
.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #fff;
    border-radius: 15px;
}

#species label {
    display: inline-block;
    cursor: pointer;
}

#species label img {
    padding: 3px;
}

td{
    vertical-align: middle;
}